

<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>IoT-InstantWork.in</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/static/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="/static/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="/static/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="/static/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="/static/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout margin_to90">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="/static/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="/"><img src="/static/logo.png" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <div class="header_information">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                           </button>
                           <div class="collapse navbar-collapse" id="navbarsExample04">
                              <ul class="navbar-nav mr-auto">
                                  <li class="nav-item ">
                                    <a class="nav-link" href="/"> Home  </a>
                                 </li>
                                 <li class="nav-item ">
                                    <a class="nav-link" href="/about"> About Us  </a>
                                 </li> 
                                 <li class="nav-item">
                                    <a class="nav-link" href="/client">Our Clients</a>
                                 </li>
                                 <li class="nav-item active">
                                    <a class="nav-link" href="/service">Services</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="/contact">Contact Us</a>
                                 </li>
                              </ul>
                              <div class="sign_btn"><a href="/contact">Get A Quote</a></div>
                           </div>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <header>
         <div>
            <div>
               <div>
                  <div>
                     <h1 style="text-align: center; size:200% ;">IoT-Solutions</h1>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <header>
         <div>
            <div>
               <div>
                  <div>
                     <h2 style="text-align: center; size:200% ;">This Website is Under Devlopment We will Start Service Soon</h2>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <header>
         <div>
            <div>
               <div>
                  <div>
                     <h3 style="text-align: center; size:200% ;">Thank You  For Visit This Website </h3>
                  </div>
               </div>
            </div>
         </div>
      </header>

      <!-- end header -->
     
      <!-- clients -->
      
      <!-- end clients -->
     
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row border-top">
                  <div class="col-md-6 padding_bottom1   ">
                     <h3>Subscribe Now</h3>
                     <form class="footer_form">
                        <input class="enter" placeholder="Enter your email" type="type" name="Enter your email">
                        <button class="submit">submit</button>
                     </form>
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5 offset-md-1 padding_bottom1">
                           <h3>Links</h3>
                           <ul class="cont">
                             <li ><a href="https://www.facebook.com/profile.php?id=100070237026914" >Facebook</a></li>
                              <li><a href="https://www.instagram.com">Instagram</a></li>
                              <li><a href="https://youtube.com/channel/UCLuuoSRunDQlvVX5sPIO5tQ">Youtube</a></li>
                              <li><a href="https://twitter.com/infoInstantwork?t=RTJzdbM7e6v1YOSdAo8jrg&s=09">Twitter</a></li>
                              <li><a href="https://www.twitter.com">Linkedin</a></li>                        </div>
                        <div class="col-md-5 offset-md-1">
                           <h3>Contact us</h3>
                           <ul class="cont">
                              <li>Wha :-
                                 <a href="https://api.whatsapp.com/send/?phone=%2B911234567890&text&app_absent=0">1234567890</a>
                              </li>
                              <li>Mob :- 1234567890</li>
                              <li>Info.instantwork@gmail.com</li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2020 All Rights Reserved. <a href="/"> InstantWork.in</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="/static/jquery.min.js"></script>
      <script src="/static/popper.min.js"></script>
      <script src="/static/bootstrap.bundle.min.js"></script>
      <script src="/static/jquery-3.0.0.min.js"></script>
    
      <!-- sidebar -->
      <script src="/static/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/static/custom.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </body>
</html>

